#banner {
    height: 72px;
}

.get-latest-btn {
    padding: 13px 16px 13px 16px;
    font-size: 16px;
}

.tile {
    text-align: center;
    font-size: 16px;
    padding: 28px 0 28px 0;
}

.tile--negative {
    background-color: #D0D2D3;
    color: #6D6E72;
}

.tile--positive {
    background-color: #3B7A9E;
    color: #F0F1F1;
}